
@{
    ViewData["Title"] = "Finalise Meta-data";
}

<h1>Step 3: Provide Classification, Ownership and Schedule Information</h1>


<form method="post" action="/Upload/FinaliseOwnership">

    



    <hr />
    
    
    <hr />


    <hr />
 
<button type="submit">Confirm Information</button>

</form>

}




