
@{
    ViewData["Title"] = "Upload";
}

<h1>Create Data Ingestion Template From Existing File</h1>

<hr />

@*
    To post files to server we need form with post method,
    and additionally browser must use multipart/form-data
    encoding. Otherwise file will not be sent.
*@
<form method="post" enctype="multipart/form-data">
    <label for="filetype">Choose Template File Type</label>

    <select name="filetype">
        <option value="excel">Excel</option>
        <option value="text">Text</option>
        <option value="xml">Xml</option>
        <option value="csv">Csv</option>
    </select/>

    <br />

    <label for="file">Choose file to upload</label>
    <input type="file" name="file" />

    <br />

    <button type="submit">Upload</button>
</form>
@*
    If upload succeeded we will show nice message to user.
*@
@if (ViewBag.Message != null)
{
    <div class="alert alert-success" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
